###
# Make sure set cannot DownLoad or UpLoad `~$` Type File
###

~$TypeScript 설치 방법 추가.pptx
~$Additional version of installing Type-Script.pptx

###
# Make sure set `node-modules` file not to UpLoad
###

/02-1/node_modules/
/02-2/node_modules/
/03-1/node_modules/
