###
# Make sure set cannot DownLoad or UpLoad `~$` Type File
###

~$TypeScript 설치 방법 추가.pptx
~$Additional version of installing Type-Script.pptx

###
# Make sure set `node-modules` file not to UpLoad
###

# For Single Level node-modules
/*/node_modules/

# For Double Level node-modules
/*/*/node_modules/
